html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 8px 12px;
}

.menu-bar{
    list-style:none;
    display: flex;
    margin: 0;
    padding-left:0;
}

.menu-bar li{
    padding:8px 30px;
}

.menu-bar li:hover{
    background-color: orange;
    border-radius: 3px;
}

@media screen and (max-width: 700px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
}