html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.menu-bar{
    display: flex;
    list-style: none;
}

.menu-btn{
    padding: 20px
}