.home {
  display: flex;
  height: 100vh;
  min-height: 500px;
  color: green;
  background: url("../img/background.png") no-repeat center;
  background-size: cover;
}

.home max-width {
  margin: auto 0 auto 40px;
}

.home .home-section .text1 {
  font-size: 30px;
}

.home .home-section .text2 {
  font-size: 75px;
  font-weight: 600;
}

.home .home-section .text-3 {
  font-size: 40px;
}

.home .home-section .text-3 span {
  color: orange;
  font-weight: 500;
}
