.my-sites {
  padding: 100px 0;
  transition: all 0.3s ease;
}

.my-sites .title::after {
  content: "What Is My Site ";
}

.my-sites .my-sites-content {
  margin-bottom: 100px;
}

.my-sites .my-sites-content .left-column {
  margin-left: 20%;
}

.my-sites .my-sites-content .right-column {
  margin-right: 20%;
}

.my-sites .my-sites-content a {
  display: flex;
  text-align: center;
  color: black;
}

.my-sites .my-sites-content a,
.my-sites .my-sites-content a:visited,
.my-sites .my-sites-content a:active,
.my-sites .my-sites-content a:hover {
  text-decoration: none;
}

.my-sites .my-sites-content .site {
  background-color: white;
  border-radius: 6px;
  padding: 25px 35px;
  transition: all 0.3s ease;
}

.my-sites .my-sites-content .site img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(255, 164, 45);
  transition: all 0.3 ease;
}

.my-sites .my-sites-content .site-text {
  font-size: 25px;
  font-weight: 600;
}

.my-sites .my-sites-content p {
  font-size: 18px;
  text-align: justify;
}

.my-sites .my-sites-content .site:hover {
  background-color: rgb(25, 8, 53);
  color: white;
  transform: scale(1.05);
}

.my-sites .my-sites-content .site:hover img {
  border-color: white;
}
